.navbar {
  margin-bottom: 2rem;
}

.navbar-toggler {
  border: none;
}

.navbar-brand {
  font-family: Hammersmith One;
  color: $gray-700;
}

// a.text-primary:hover {
//   color: lighten($primary, 20%);
// }

// .list-group-item:hover {
//   background: $gray-700;
// }
