@import url("https://fonts.googleapis.com/css2?family=Gudea&family=Hammersmith+One&display=swap");

// Font-styles
$font-family-sans-serif: Gudea, system-ui, -apple-system, "Segoe UI", Roboto;
$headings-font-family: Hammersmith One;

// Color
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #3160fa;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

// my color pallet
$beige: #fff8d6;
$turquoise: #53a6a6;
$myYellow: #ffd500;
$myPurple: #62366a;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$primary: $turquoise;
$special: $myPurple;
$back-ground: $myYellow;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "pink": $pink,
  "my-bg": $back-ground,
  "special": $myPurple,
);

// Options
$enable-caret: false;
// $enable-gradients: true;
